<a href="https://colab.research.google.com/github/Mark20042/py-review/blob/main/hatdog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning Fundamentals of Python


- **Addition**
- **Subtraction**
- **Multiplication**
- **Division**
- **Exponent**

In [ ]:
def add(a,b):
  total = a + b
  print(total)

add(5,7)

12

In [ ]:
not 5 > 6 and  5 < 6

True

## Type of a variable

In [ ]:
a = 2
b= 9.5
c = True
d = "hello"

type(d)

str

* **Type Casting**

In [ ]:
divide = 5/2
print(divide)

2.5

In [ ]:
int(divide)

2

In [ ]:
bool(divide)

True

Boolean

In [ ]:
r = True
s = False

In [ ]:
print(type(r))
print(type(s))

<class 'bool'>
<class 'bool'>

Escape character

In [ ]:
print('A whole new world : "a new fantastic "')

A whole new world : "a new fantastic "

String Conatenation

In [ ]:
print("Hello " + "World")

Hello World

Next line

In [ ]:
print("Hello\nWorld")

Hello
World

## String Indexing

In [ ]:
greetings = "Hi Mega"

print(greetings)

first = "Hi "
second = "Mega"

join = first + second
print(join)

Hi Mega
Hi Mega

In [ ]:
print("First character : " , join[0])
print("Second character : " , join[1])

print("Last character : " , join[6])

First character :  H
Second character :  i
Last character :  a

## String Slicing

In [ ]:
print(join[0:2])
print(join[3:7]) # + 1 when getting the end of the string

Hi
Mega

Length Function len()

In [ ]:
sentence = "Naunsa ka dawg"


print(len(sentence))

14

In [ ]:
print("Last character in the sentence  :" , sentence[len(sentence)-1])

Last character in the sentence  : g

## For Loops

In [ ]:
my_list=[1,2,3,4,5 , 'Python', 'is', 'easy']

for i in my_list:
  print(i)

1
2
3
4
5
Python
is
easy

In [ ]:
for item in my_list:
  if item == 'Python':
    break
  print(item)

1
2
3
4
5
Python

In [ ]:
for item in my_list:
  if item == 5:
    continue
  print(item)

1
2
3
4
Python
is
easy

## enumerate()
In case you need to also know the index:

In [ ]:
for idx,val in enumerate(my_list):
  print("idx: {} , value:{} ".format(idx,val))

idx: 0 , value:1
idx: 1 , value:2
idx: 2 , value:3
idx: 3 , value:4
idx: 4 , value:5
idx: 5 , value:Python
idx: 6 , value:is
idx: 7 , value:easy

## Lists

In [ ]:
x = 2
y = 5.5
z = "Alluh akbar"
f = False

ako_list = [x,y,z,f]
print(ako_list)

[2, 5.5, 'Alluh akbar', False]

In [ ]:
print(type(ako_list))

<class 'list'>

## Mutability

In [ ]:
ako_list[3] =  "True"

print(ako_list)

[2, 5.5, 'Alluh akbar', 'True']

Slicing in Lists

In [ ]:
list_example = [3, 10 , 'a' , 2 , 100]

print(list_example[1:2])
print(list_example[1:3])

[10]
[10, 'a']

Negative Slicing in Lists

In [ ]:
print(list_example[-1])
print(list_example[-3:-1])
print(list_example[-1:-3]) ## the greater number should be at the first

100
['a', 2]
[]

## Tuples

In [ ]:
my_tuples = (9 , 6 , 6.9, 99 , 6 ,67, 69 , "zilong" )

print(type(my_tuples))
print(len(my_tuples))
print(my_tuples[len(my_tuples)-1]) ## get the last tuple using the length -1
print(my_tuples[1])

## we cannot change any value inside the tuples

<class 'tuple'>
8
zilong
6

Empty Tuples

In [ ]:
empty_tuple = ()
print(type(empty_tuple))
print(len(empty_tuple))

<class 'tuple'>
0

One tuple

In [ ]:

## this is incorrect and not a one tuple

tuple_int = (2)
print(type(tuple_int))

tuple_string = ("HAHAHAHA")
print(type(tuple_string))


## this is the correct one tuple

tuple_one = (3),
print(type(tuple_one))

tuple_one1 = (3,)
print(type(tuple_one1))

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>

Tuple Packing

In [ ]:
t= 12345, 67890, "hello"
print(t)
print(type(t))

(12345, 67890, 'hello')
<class 'tuple'>

Sequence Unpacking

In [ ]:
x , y , z = t
print(x)
print(y)
print(z)

12345
67890
hello

Tuple Functions

In [ ]:
print(my_tuples.count(6)) ## will count how many number 6 in my tuples

print(my_tuples.index("zilong")) ## will return the index of the value

2
7

## Dictionary

keys are unique !

don't have order

uses curly brackets {} and colon :

In [ ]:
my_dict = { 1:2 , "aaluhh" : 4 , 2:3}

print(type(my_dict))

print(my_dict[1]) ## the format is the key : value

## we cant get the key when not declared like my_dict[2]


print(1 in my_dict) # to check if that key exist will throw a boolean



# can also use the get() function to find that value
print(my_dict.get("aaluhh"))

<class 'dict'>
2
True
4

Dictionary Functions

In [ ]:
## Clear

print(my_dict)
my_dict.clear() ## will clear the dictionary
print(my_dict)

## Copy
grocery_dict = { 'Melon' : [5,9], 'Apple ': 3 , "Strawberry ": 5 , "Orange": 9}
print(grocery_dict)
grocery_dict_copy = grocery_dict.copy() ## will get a copy of a dictionary
print(grocery_dict_copy)

## From key function
list_keys = ['Apple', 'Strawberry']
new_dict = dict.fromkeys(list_keys, 20) ## to replace the value in the dict
print(new_dict)

## items Function
print(grocery_dict.items()) # will return all the dictionaries in tuple format


## Keys Function
print(grocery_dict.keys()) # will return all the keys in tuple format

{}
{}
{'Melon': [5, 9], 'Apple ': 3, 'Strawberry ': 5, 'Orange': 9}
{'Melon': [5, 9], 'Apple ': 3, 'Strawberry ': 5, 'Orange': 9}
{'Apple': 20, 'Strawberry': 20}
dict_items([('Melon', [5, 9]), ('Apple ', 3), ('Strawberry ', 5), ('Orange', 9)])
dict_keys(['Melon', 'Apple ', 'Strawberry ', 'Orange'])

Looping the dictionaries

In [ ]:
for k, v in grocery_dict.items():
  print(k,v)

Melon [5, 9]
Apple  3
Strawberry  5
Orange 9

## Set

use curly brackets {}

elements can only be unique

cant be indexed

dont have order

mutable

removes duplicate element

will order in ascending

In [ ]:
my_set = { 9,5,7,4,2,1}
print(type(my_set))
my_set.add(8)
# my_set.pop() # will remove first element from the set
my_set.remove(4) # will remove element from the set raise error when element not found
my_set.discard(5) # will remove element from the set does not raise a error when not element found
print(my_set)

<class 'set'>
{1, 2, 7, 8, 9}

In [1]:
my_dicti = {1: {1 : [1,2,3,"Azore"], 3.2 : (1,2,3)}}

{1: [1, 2, 3, 'Azore'], 3.2: (1, 2, 3)}

In [3]:
my_dicti[1][1]

[1, 2, 3, 'Azore']

In [4]:
my_dicti[1][1][3]

'Azore'

In [5]:
my_dicti[1][3.2]

(1, 2, 3)

In [10]:
my_dicti[1][3.2][2]

3

In [21]:
list_anim = [ {1: ["imo", "ng", "mama"]}, [87, (3,7,9),69], "dawg"]


list_anim[1][2]

69

In [17]:
list_anim[0][1][2]

'mama'

In [20]:
print(list_anim[0][1][0] + list_anim[0][1][1] + " " + list_anim[0][1][2] + " " + list_anim[2])

imong mama dawg

## OOP

In [7]:
class Lambo:
  def __init__(self,year):
    self.year = year
  num_wheels = 4

In [8]:
car_2012 = Lambo(2012)
car_2013 = Lambo(2013)

car_2012.year

car_2012.num_wheels

4